
[submodule "thirdparty/tle2czml"]
	path = thirdparty/tle2czml
	url = https://github.com/Seunghwan17/tle2czml.git
[submodule "thirdparty/czml3"]
	path = thirdparty/czml3
	url = https://github.com/Seunghwan17/czml3.git
